commons:
  url:
    ref: https://www.example.jp
    test: https://demo.example.jp
  scroll2bottom: false
  removeSelectors:
    - "#__bs_notify__"
viewports:
  - name: phone
    width: 375
    height: 667
  - name: tablet
    width: 1024
    height: 768
  - name: pc
    width: 1920
    height: 1080
scenarios:
  - label: top
    url: /
  - label: about
    url: /about.html